<div class="row">

    <div class="col-md-4 d-flex align-items-center">
       <h2>Trending Movie <br>
            Right Now
        </h2> 
    </div>



    <div *ngFor='let movie of trendingMovies' class="col-md-2">
        <a [routerLink]='["/moviedetails" , movie.id]'>
            <div class="movie position-relative py-1">
                <img [src]="imgPerfix+movie.poster_path" class="w-100" alt="">
                <h5>{{movie.title}}</h5> 
                <div class="vote">
                    {{movie.vote_average}}
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">

    <div class="col-md-4 d-flex align-items-center">
       <h2>Trending Tv <br>
            Right Now
        </h2> 
    </div>



    <div *ngFor='let tv of trendingTv' class="col-md-2">
        <img [src]="imgPerfix+tv.poster_path" class="w-100" alt="">
        <h5>{{tv.name}}</h5> 
    </div>
</div>
